﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="GenerarToken.aspx.cs" Inherits="ProyectoDesarrolloWeb.GenerarToken" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title></title>
</head>
<body background="https://www.solofondos.com/wp-content/uploads/2015/11/fondo_r1_c1.jpg">
    <form id="form1" runat="server">
        <div>
            <center>
            <div><h3>IngreseToken: <span class="badge badge-secondary"></span></h3><asp:TextBox ID="TextBox1" runat="server" Width="364px" Height="30px"></asp:TextBox></div>
            
                </center>
            <div>
                <center><asp:Button ID="Button1" runat="server" Text="Guardar Token" class="btn btn-success btn-lg float-right" /></center>

                
            </div>
        </div>
    </form>
</body>
</html>
